body {
    margin: 0;
    padding: 0;
}

nav {
    /* border-bottom: 1px solid black; */
    background-color: aqua;
    padding: 16px;
}

main {
    padding: 16px;
}


footer {
    background-color: coral;
    /* border: 20px solid yellowgreen; */
    /* padding-top: 24px 5px 24px; */
    padding: 16px;
    font-size: 15px;
}

div {
    box-sizing: border-box;
}

.four-column-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

a {
    color: green;
}

a:link {
    text-decoration: none;
}
